:root{
  --color-accent: rgba(52, 117, 52, 1);
  --color-bg: rgba(223, 220, 214, 1);
  --color-bg-dark: rgba(129, 121, 106, 1);
  --color-text-light: rgba(236, 235, 235, 1);
  --color-text-dark: rgba(88, 61, 31, 1);
}

html{
  box-sizing: border-box;
  padding: 0;
}

body{
  background-color: rgba(246, 246, 246, 1);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0px;
}


nav{
  background:white;
  left: 0;
  padding: 0px;
  position: fixed;
  top: 0;
  width: 100%; 
  z-index: 1  ;
}

h1{
  animation: h1FadeIn  2s;
  bottom: 10%;
  color: var(--color-text-light);
  font-size: 54px;
  position: absolute;
  right: 100px;
  text-shadow: rgb(0, 0, 0) 15px 5px 5px;
  z-index: 1;
}

h2{
  color: var(--color-text-dark);
  font-family: Lato, sans-serif;
  text-align: center;
  font-size: 32px;
}
.navbar{
  align-items: center;
  animation: navFadeIn  2s;
  display: flex;
  height: 80px;
  justify-content: space-between;
  margin: auto;
  transition: all 0.3s;
  width: 80%;
}

.navbar.shrink{
  height: 50px;
  transition: all 0.3s;
}


.menu_logo{
  align-items: center;
  color: rgb(84, 84, 84);
  display: flex;
  padding: 0px 20px;
 }

.menu{
    padding: 0px 20px;
}

.navbar p{
  display: block;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 24px;
  transition: all 0.6s;
}

.navbar.shrink p{
  font-size: 20px;
  transition: all 0.6s;
}

.navbar .img_logo{
  height: 50px;
  margin: 10px;
  width: 50px;  
  transition: all 0.6s;
}

.navbar.shrink .img_logo{
  height: 40px;
  margin: 5px;
  width: 40px;
  transition: all 0.6s;
}

.menu_list{
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.menu_list a {
  color: rgb(84, 84, 84);
  font-size: 14px;
  letter-spacing: 1px;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 1s;

  
}

.menu_list a:hover{
  color: var(--color-accent); 
  font-weight: 600;

}

.button_menu, .button_menu_close{
  display: none;
}


#slider{
  top: 80px;
  height: 70vh;
  position: relative;
  max-width: 100%;
}

.slider_img{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 70vh;
  object-fit: cover;
  opacity: 0;
  transition: all 1s;
}

.slider_img.active{
  background-color: rgba(73, 72, 72, 0.1);
  display: block;
  height: 70vh;
  object-fit: cover;
  opacity: 1;
  width: 100%;

}

.button_slider_left, .button_slider_right{
  background-color: transparent;
  border: none;
  color: var(--color-text-light);
  font-size: 24px;
  position: absolute;
  top: 50%;
  transition: color 0.3s;
  transform: translate(0%, -50%);
 
}

.button_slider_left{
  left: 1%;
}

.button_slider_right{
  right: 1%;
}

.button_slider_left:hover, .button_slider_right:hover{
  color: var(--color-accent);
  cursor: pointer;
}

.dots{
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%, 0%);
}

.dot{
  animation: GreentoWhite 1s;
  border: none;
  border-radius: 25px;
  color: var(--color-text-light);
  height: 5px;
  width: 40px;
}

.dot:hover{
  animation: whiteToGreen 1s;
  cursor: pointer;
  background-color: rgba(218, 218, 218, 0.7);
}

#aboutus{
  background-color: rgb(255, 255, 255);
  padding: 100px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px auto 0; 
  /* margin-top: 50px; */
  width: 80%;
}


.aboutus_img{
  display: block;
  height: 300px;
  width: 500px;
}



.aboutus_text{ 
  display: block;
  padding: 40px;
  width: 500px;
}

.aboutus_text h2{
  margin-top: 0px;
  text-align: start;
}


.aboutus_button{
  background-color: transparent;
  border: solid black 1px;
  border-radius: 25px;
  color: black;
  margin: 10px 0px 0px 0px;
  padding: 10px 30px;
  transition: all 0.5s;
}

.aboutus_button:hover{
  background-color: rgba(218, 218, 218, 0.7);
  border: none;
  color: rgb(68, 87, 65);
  cursor: pointer;
  transform: scale(1.10);
  transition: all 1s;
  
}

#offer{
  background-color: white;
  margin: 0 auto;
  padding: 30px 0;
  position: relative;
  width: 80%;
}

#offer h3{
  font-size: 24px;
  margin: 0px;
}

.oferta_grupa{
  display: flex;
 
}

.oferta{

  align-items: flex-start;
  background: var(--color-bg-dark);
  box-shadow: gray 0px 5px  15px;
  color: var(--color-text-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
  padding: 30px;
  width: 33%;
}



.oferta_img{
  height: 100%;
  max-height: 220px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 10px;
  transform: scale(1);
  transition: transform 1s;
}

.oferta_img:hover{
  cursor: pointer;
  transform: scale(1.05);
}

.oferta_popup{
  display: none;
}


.oferta_popup.active{
  animation: ImgFadeIn 0.5s;
  background-color: rgba(255,255,255, 0.7);
  backdrop-filter: blur(5px);
  display: block;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100vw;
}

.oferta_popup.fade_out {
  animation: ImgFadeOut 0.5s;
}

.oferta_popup img{
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.oferta_popup_close {
  background-color: transparent;
  border: none;
  color: gray;
  font-size: 32px;
  position: absolute;
  right: 15%;
  top: 5%;
  transition: color 0.5s;
}

.oferta_popup_close:hover{
  cursor: pointer;
  color: var(--color-accent);
}

#attractions{
  background: var(--color-bg);
  margin: 0 auto;
  padding: 30px 0px;
  width: 80%;
}


.attractions{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.attraction{
  height: 280px;
  margin: 15px;
  position: relative;
  width: 280px;

}

.attraction:hover{
  cursor: pointer;
}

.atr_img{
  opacity: 0.8;
  max-height: 100%;
  max-width: 100%;

}

.atr_img + p{
  text-shadow: 2px 2px 2px black;
  color: white;

  font-size: 24px;
  position: absolute;
  bottom: 0px;
  right: 20px;
} 



.atr_text{
  display: none;
}

.atr_text.active{
  animation: ImgFadeIn 0.5s;
  background-color: rgba(218, 218, 218, 0.7);

  backdrop-filter: blur(2px);
  display: block;
  height: 100%;
  padding: 0px 15px;
  position: absolute;
  z-index: 1;
  top: 0;

}


.atr_text h3{
  padding-top: 5px;
}

#gallery{
  align-items: center;
  background: var(--color-bg);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 30px 0px;
  position: relative;
  width: 80%;
}


.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery_img{
  height: 200px;
  margin: 15px;
  transform: scale(1);
  transition: transform 0.5s;
  width: 300px;
}

.gallery_img:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.gallery_popup{
  display: none;
}

.gallery_popup.active{
  background-color: rgba(215, 215, 215, 0.7);
  backdrop-filter: blur(5px);
  display: block;
  left: 0px;
  height: 100vh;
  position: fixed;
  top: 0px;
  width: 100vw;
}

.gallery_popup_img{
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

}

.gallery_close, .gallery_prev, .gallery_next {
  background-color: transparent;
  border: none;
  color: gray;
  font-size: 32px;
  position: absolute;
  
  transition: color 0.5s;
}

.gallery_close{
  right: 5%;
  top: 5%;
}

.gallery_prev{
  top: 50%;
  left: 5%;
  transform: translate(0%, -50%);
}

.gallery_next{
  top: 50%;
  right: 5%;
  transform: translate(0%, -50%);
}

.gallery_close:hover, .gallery_prev:hover, .gallery_next:hover{
  cursor: pointer;
  color: var(--color-accent);
}

#contact{
  align-items: center;
  background-color: white;
  color: var(--color-text-dark);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 30px 0px;
  width: 80%;
}

.contact-container{
  background: var(--color-bg);
  border: none;
  box-shadow: gray 0px 5px  15px;
}


.contact_grid{
  display: grid;
  gap: 15px;
  grid-template-columns: 30% 68% ;
  margin: 0% 2%;
}

fieldset{
  border: none;

}

.data_rezerwacji, .data_rezerwacji p{
  display: inline;
}

textarea{
  height: 200px;
  border: none;
  outline: none;
  resize: none;
}

input{
  border: none;
  border-radius: 5px;
  height: 26px;
  font-size: 16px;
  padding-left: 10px;
  outline: none;
}

input[type="date"]{
    color: var(--color-text-dark);
}

.formlularz_wyrownanie{
  align-items: center;
  display: flex;
}


.form_buttons{
  display: flex;
  justify-content: end;
}

.form_button{
    background-color: white;
    border-radius: 5px;
    color: var(--color-text-dark);
    margin: 20px 0px 20px 20px;
    padding: 10px 40px 25px 40px;
    transition: all 0.5s;
  }
  
  .form_button:hover{
    background-color: var(--color-accent);
    color: var(--color-text-light);
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.5s;
    
  }

  input:focus, textarea:hover{
    background-color: rgb(245, 245, 245);
    
  }

  .success-message p{
    background: var(--color-accent);
    text-align: center;
    color: white;
    padding: 20px 0px;
  }

  .danger-message p{
    background: var(--color-text-dark);
    text-align: center;
    color: white;
    padding: 20px 0px;
  }

#footer{
  background: var(--color-bg);
  display: flex;
  justify-content: space-around;

}

.footer_address div{
  align-items: center;
  display: flex;

}

#footer img{
  height: 20px;
  padding-right: 10px;
  width: 20px;
}

address{
  font-style: normal;
}

.footer_social div{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer_social a{
  align-items: center;
  display: flex;
  
}

.footer_menu ul{
  list-style: none;
  padding: 0px;
}

#footer a{
  color: black;
  text-decoration: none;
  padding: 5px 0px;
  transition: color 1s;
}

#footer a:hover{
  color: var(--color-accent);
  cursor: pointer;
  font-weight: 600;
}

.footer-bottom{
  background-color: black;
  color: var(--color-bg);
  padding: 8px 0px;
  text-align: center;
}

.footer-bottom p{
  margin: 0;
}

.footer-bottom a{
    color: var(--color-bg);
    text-decoration: none;
}

.footer-bottom a:hover{
  color: white;
}

@keyframes navFadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes h1FadeIn {
  from {opacity: 0;
        right: -100px;}
  to {opacity: 1;
      right: 100px;}
}

@keyframes whiteToGreen {
  from {background-color: white;}
  to {background-color: var(--color-accent);}
}

@keyframes GreentoWhite {
  from {background-color: var(--color-accent);}
  to {background-color: white;}
}

@keyframes ImgFadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes ImgFadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}

@media screen and (max-width: 992px) {
  #aboutus{
    background-color: var(--color-bg);
    height: auto;
    padding: 10px 0;
    position: sticky;
  }
  
   .aboutus_img{
    display: none;
   }
  
    .aboutus_text{
      height: auto;
      position: sticky;
     
      width: auto;
    }
}


@media screen and (max-width: 768px){

  html{
  position: relative;
  margin: 0px;
  padding: 0px;
  
  }

  nav{
    width: 100vw;
  }

  #aboutus{
    margin-top: 100px;
  }

  nav p{
    display: none;
  }



  .menu_list{
    display: none;
  }

  
  

  .menu_list.active{
    background: linear-gradient(to bottom left , #d0d0d0, rgb(68, 87, 65));
    display: block;
    margin: 0px;
    left: 0px;
    opacity: 1;
    top: 0px;
    transform: opacity 1s;
    padding: 0px;
    position: absolute;
    width: 100vw;
    z-index: 1;


  }

  .menu_list li{
    padding: 20px 10px;
  }

    .menu_list a{
      color: var(--color-text-light);
  }

  h1{
    margin-left: 20px;
  }

  .button_menu{
    background-color: transparent;
    border: none;
    display: block;
  }

  .button_menu:hover{
    transform: scale(1.15);
    cursor: pointer;
  }

  .button_menu img{
    height: 30px;
    width: 30px;
  }

  .button_menu_close{
    background-color: transparent;
    border: none;
    color: white;
    display: block;
    font-size: 28px;
    margin: 10px;
    position: absolute;
   right: 10px;
  }

 .button_menu_close:hover{
  cursor: pointer;
  color: var(--color-accent); 
 }


  .oferta_grupa{
    display: flex;
    flex-direction: column;
  }

  .oferta{
  margin: 10px 0px;
  width: 90%;
  }

  .oferta_img{
  max-height: 100%;
}

 
.attraction{
  height: 240px;
  width: 240px;

}

.gallery_img{
  height: 100%;
  width: 250px;
}

  #contact{
  width: 100%;
    background-color: transparent;
  }

  .contact-container{
  width: 80%;
}

.contact_grid{
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr ;
  margin: 0% 2%;
  max-width: 100%;
  }

  fieldset{
    box-shadow: none;
    font-size: 12px;
    margin: auto;
    width: 80%;
  }

  .formlularz_wyrownanie{
    align-items: center;
    display: flex;  
    flex-wrap: wrap;
  }

  .formlularz_wyrownanie input{
    margin: 5px;
  }

  #footer{
    display: flex;
    padding: 20px 30px;
  }

  .footer_menu{
    display: none;
  }

}

@media screen and (max-width: 576px){
 h1{
    font-size: 36px;
  }

#aboutus{
  width: 90%;
  margin-bottom: 20px;
}

.aboutus_text{ 
  padding: 20px;
}

#attractions{
  width: 90%;
}

#offer{
  width: 90%;
}

.oferta{
  width: 80%;
}

#gallery{
  width: 90%;
}

.contact-container{
  width: 90%;
}

.contact_grid{
  /* display: grid; */
  /* gap: 10px;
  grid-template-columns: 1fr ; */
  margin: 0% 2%;
  max-width: 100%;
  width: 100%;
  }

  fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input[type=date]{
    margin-bottom: 10px;
  }

  .hidden{
    display: none;
  }

  .form_buttons{
    justify-content: center;
  }

  .form_buttons input{
    font-size: 14px;
    margin: 10px;
    padding: 0px 20px;
  }

  #footer{
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  }
}

 
